@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "simplecontainer";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-base-100: oklch(100% 0 89.876); /* White */
    --color-base-200: oklch(99% 0 89.876); /* Very light gray */
    --color-base-300: oklch(98% 0 89.876); /* Light gray */
    --color-base-content: oklch(20% 0.05 240);
    --color-primary: oklch(55% 0.3 240);
    --color-primary-content: oklch(98% 0.01 240);
    --color-secondary: oklch(70% 0.25 200);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: oklch(50% 0.05 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(0.478 0.273 263.934);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(0.582 0.173 143.058);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

.wiggle {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%, 100% { transform: translateX(0); }
    15% { transform: translateX(-6px); }
    30% { transform: translateX(6px); }
    45% { transform: translateX(-4px); }
    60% { transform: translateX(4px); }
    75% { transform: translateX(-2px); }
    90% { transform: translateX(2px); }
}

/* gitops dag */

.node rect {
    fill: #ffffff;
    stroke: #3d4451;
    stroke-width: 1px;
    display: block;
    padding: 0;
    rx: 0.125rem;
    ry: 0.125rem;
}

.label-gitops {
    cursor: pointer;
}

.label-gitops:hover {
    cursor: pointer;
    opacity: 0.8;
}

.label-gitops:active {
    cursor: pointer;
    opacity: 1;
}

.missing { background-color: #9ca3af }
.synced { background-color: #00ca92 }
.drifted { background-color:#ffc22d }
.transfer { background-color:#ff6f70 }
.error { background-color:#ff6f70 }

.initial{ background-color: #f38518 }
.transfering{ background-color: #f38518}
.dependency_updated{ background-color: #f38518 }
.created{ background-color: #f38518 }
.clean{ background-color: #f38518 }
.prepare{ background-color: #f38518 }
.init{ background-color: #f38518 }
.init_failed{ background-color: #f38518 }
.depends_checking{ background-color: #f38518 }
.depends_solved{ background-color: #f38518 }
.readiness_check{ background-color: #f38518 }
.readiness_ready{ background-color: #f38518 }
.running { background-color: #00ca92 }
.dead { background-color:#ff6f70 }
.backoff { background-color:#ff6f70 }
.daemon_failure{ background-color:#ff6f70 }
.restart{ background-color: #f38518 }
.depends_failed{ background-color:#ff6f70 }
.readiness_failed{ background-color:#ff6f70 }
.pending{ background-color: #ffc22d  }
.runtime_pending{ background-color: #ffc22d  }
.start{ background-color: #f38518 }
.kill{ background-color: #f38518 }
.delete{ background-color: #f38518 }

.missing-stroke {  }
.synced-stroke { stroke: white }
.drifted-stroke { stroke: white }
.transfer-stroke { stroke: white }
.error { stroke: white }


.edgePath path {
    stroke: #333;
    stroke-width: 1px;
}